
/* GENERAL ========================================= */

/* Zero default margin & padding around common elements */
article, blockquote, body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, header, li, nav, ol, p, section, ul {
	margin: 0;
	border: 0 none #FFFFFF;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000000;
	color: #ffffff;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	text-align: center;
}

a {
	color: #00a6ff;
	text-decoration: underline;
}

a:visited {
	color: #9966cc;
}

a:hover {
	text-decoration: none;
}

img {
	border: 0 none transparent;
}

input, select, table, textarea {
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}




/* CONTENT ========================================= */

nav {
	display: none;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 3000;
	font-size: 17px;
	font-family: "U", "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	opacity: 0;
}

nav a, nav a:visited {
	color: #ffffff;
	text-decoration: none;
}

nav a:first-child {
	margin-right: 1em;
	border-right: 1px solid #7f7f7f;
	padding-right: 1em;
}

nav a:hover {
	color: #0099ff;
}

canvas {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 10;
}

h1 {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2100;
	width: 10em;
	margin-left: -5em;
	margin-top: -70px;
	font-size: 80px;
	font-family: BN, "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: center;
	line-height: 1;
}

#noCanvas {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2100;
	width: 25em;
	margin: 30px 0 0 -12.5em;
	font-size: 20px;
	font-family: "U", "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

#noCanvas strong {
	display: block;
	position: absolute;
	left: 50%;
	top: -240px;
	width: 2em;
	margin-left: -1em;
	font-size: 100px;
	text-align: center;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2100;
	width: 20em;
	margin: 30px 0 0 -10em;
	font-size: 20px;
	font-family: "U", "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

#buffering {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 101;
	width: 102px;
	height: 102px;
	margin: -86px 0 0 -51px;
	background-image: url(../images/buffering.gif);
	background-repeat: no-repeat;
	opacity: 0;
}

#part1 {
	display: none;
	position: absolute;
	top: 50%;
	right: 50%;
	z-index: 2000;
	width: 33%;
	max-width: 18em;
	margin-top: -92px;
	margin-right: 80px;
	font-size: 20px;
	font-family: "U", "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	opacity: 0;
}

#part2 {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2000;
	width: 33%;
	max-width: 18em;
	margin-top: -92px;
	margin-left: 80px;
	font-size: 20px;
	font-family: "U", "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	opacity: 0;
}

#bestViewed {
	display: none;
	position: absolute;
	right: 20px;
	bottom: 180px;
	z-index: 10;
	font-size: 14px;
	font-family: "U", "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	opacity: 0;
}

.eq {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10;
	width: 273px;
	height: 272px;
	margin: -171px 0 0 -136px;
	background-repeat: no-repeat;
	opacity: 0;
}

#bass {
	background-image: url(../images/bass.png);
}

#mid {
	background-image: url(../images/mid.png);
}

#high {
	background-image: url(../images/high.png);
}

.title {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2000;
	height: 12px;
	margin-top: -39px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 10px 4px 7px;
	background-color: #ffffff;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 13px;
	opacity: 0.6;
	-webkit-transform-origin: 0 9px;
	-moz-transform-origin: 0 9px;
	-ms-transform-origin: 0 9px;
	transform-origin: 0 9px;
}

.title .pointer {
	position: absolute;
	left: -9px;
	top: 0;
	width: 12px;
	height: 20px;
	background-image: url(../images/pointer.gif);
	background-repeat: no-repeat;
}

.title .text {
	display: block;
}

.title.reverse .text {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

#button {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 101;
	width: 102px;
	height: 102px;
	margin: -86px 0 0 -51px;
	-webkit-border-radius: 51px;
	-moz-border-radius: 51px;
	-ms-border-radius: 51px;
	border-radius: 51px;
	background-image: url(../images/button.png);
	background-repeat: no-repeat;
	-webkit-transition: -webkit-box-shadow 0.2s ease-out, opacity 0.2s linear;
	-moz-transition: -moz-box-shadow 0.2s ease-out, opacity 0.2s linear;
	-ms-transition: -ms-box-shadow 0.2s ease-out, opacity 0.2s linear;
	transition: box-shadow 0.2s ease-out, opacity 0.2s linear;
}

#button.hidden {
	display: none;
	opacity: 0;
}

#button:hover {
	-webkit-box-shadow: 0 0 25px #ffffff;
	-moz-box-shadow: 0 0 25px #ffffff;
	-ms-box-shadow: 0 0 25px #ffffff;
	box-shadow: 0 0 25px #ffffff;
	opacity: 1 !important;
}

#button.playing {
	opacity: 0;
}

#button span {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url(../images/icon_play.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: -webkit-transform 0.1s linear;
	-moz-transition: -moz-transform 0.1s linear;
	-ms-transition: -ms-transform 0.1s linear;
	transition: transform 0.1s linear;
}

#button.playing span {
	background-image: url(../images/icon_pause.png);
}

#button:active span {
	-webkit-transform: scale(0.85);	
	-moz-transform: scale(0.85);	
	-ms-transform: scale(0.85);	
	transform: scale(0.85);	
}

#time {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 100;
	width: 4em;
	margin: -65px 0 0 -2em;
	font-size: 48px;
	font-weight: bold;
	color: #ffffff;
	line-height: 60px;
	font-family: BN;
	text-align: center;
	opacity: 0.4;
}

#timeline {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	height: 145px;
	background-color: #333333;
	background-color: rgba(255,255,255,0.1);
	cursor: pointer;
	opacity: 0;
}

#timeline .segment {
	position: absolute;
	height: 4px;
	margin-top: 10px;
}

.segmentTitle {
	position: absolute;
	left: -9999px;
	top: -9999px;
	z-index: 3000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 10px 4px 7px;
	background-color: #ffffff;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 13px;
	-webkit-box-shadow: 0 0 16px #000000;
	-moz-box-shadow: 0 0 16px #000000;
	-ms-box-shadow: 0 0 16px #000000;
	box-shadow: 0 0 16px #000000;
}

.segmentTitle .pointer {
	position: absolute;
	left: 50%;
	bottom: -9px;
	width: 20px;
	height: 12px;
	margin-left: -10px;
	background-image: url(../images/pointer_down.gif);
	background-repeat: no-repeat;
}

.timeMarker {
	position: absolute;
	top: 10px;
	bottom: 10px;
	border-left: 1px solid #ffffff;
	opacity: 0.33;
}

#timeMarker1 {
	left: 14.63%;
}

#timeMarker2 {
	left: 29.27%;
}

#timeMarker3 {
	left: 43.89%;
}

#timeMarker4 {
	left: 58.52%;
}

#timeMarker5 {
	left: 73.15%;
}

#timeMarker6 {
	left: 87.78%;
}

.timeMarker span {
	position: absolute;
	left: -2em;
	top: -29px;
	width: 4em;
	font-size: 13px;
	line-height: 13px;
}

#playhead {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	background-color: #ffffff;
	opacity: 0.1;
}

.starBlur {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 0;
	width: 140px;
	height: 20px;
	margin-top: -40px;
	border-radius: 10px;
	background-color: #333333;
	-webkit-transform-origin: 0 10px;
	-webkit-transition: all 10s ease-in, opacity 1s linear;
	-moz-transform-origin: 0 10px;
	-moz-transition: all 10s ease-in, opacity 1s linear;
	-ms-transform-origin: 0 10px;
	-ms-transition: all 10s ease-in, opacity 1s linear;
	transform-origin: 0 10px;
	transition: all 10s ease-in, opacity 1s linear;
}

.starBlur2 {
	width: 60px;
	height: 12px;
	margin-top: -37px;
	border-radius: 7px;
	background-color: #222222;
	-webkit-transform-origin: 0 7px;
	-webkit-transition: all 20s ease-in;
	-moz-transform-origin: 0 7px;
	-moz-transition: all 20s ease-in;
	-ms-transform-origin: 0 7px;
	-ms-transition: all 20s ease-in;
	transform-origin: 0 7px;
	transition: all 20s ease-in;
}

.starBlur3 {
	width: 40px;
	height: 8px;
	margin-top: -34px;
	border-radius: 4px;
	background-color: #111111;
	-webkit-transform-origin: 0 4px;
	-webkit-transition: all 30s ease-in;
	-moz-transform-origin: 0 7px;
	-moz-transition: all 20s ease-in;
	-ms-transform-origin: 0 7px;
	-ms-transition: all 20s ease-in;
	transform-origin: 0 7px;
	transition: all 20s ease-in;
}